.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}

.message>h2 {
    size: 30px;
    font-weight: normal;
    line-height: 50px;
}

@media (max-width: 900px) {
    .message {
        margin: 30px 20px;
        height: auto;
    }
    .message>h2 {
        font-weight: bold;
        font-size: 20px;
        line-height: unset;
        text-align: center;
        align-items: center;
    }
    .message>img {
        margin-top: 900px;
        max-width: 100%;
        height: auto;
    }
}