.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px 185px 0px 185px;
}

.presentation h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
}

.presentation h3 {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    margin-top: 20px;
}

.presentation img {
    margin-top: 30px;
}

@media (max-width: 900px) {
    .presentation {
        margin: 30px 20px;
    }
    .presentation h1 {
        font-weight: bold;
        font-size: 20px;
        line-height: unset;
    }
}