.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.projects>h1 {
    font-size: 60px;
    color: var(--color-primary);
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}

.projects>h2 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    height: auto;
}

@media (max-width: 900px) {
    .projects>img {
        max-width: 100%;
        height: auto;
    }
    .projects>h1 {
        max-width: 100%;
        height: auto;
    }
}